<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <!-- Navigation
        ==========================================-->
    {% include nav.html %}
    <!-- Header -->
    {% include header.html %}
    <!-- About Section -->
    {% include about.html %}
    <!-- Services Section -->
    {% include services.html %}
    <!-- Gallery Section -->
    {% include portfolio.html %}
    <!-- Testimonials Section -->
    {% include testimonials.html %}
    <!-- Contact Section -->
    {% include contact.html %}
    <!-- Footer Section -->
    {% include footer.html %}
  </body>
</html>
